.App {
  text-align: center;
}

.App-logo {
  height: 6em;
  pointer-events: none;
}
.nav{
  background-color: #05A4C9;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header{
  background-color: #05A4C9;

}

.nav-container{
  width: 480px;
}

.main{
  background-color: #05A4C9;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.characters{
  background-color: #05A4C9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(20px + 2vmin);
  color: #fff;
  max-height: 100vh;
}

.App-link{
  color: #61dafb;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
